@import url(reset.css);

html, body {
    overflow-y: hidden;
}

.main {
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Source Serif Pro', serif;
    background-color: #222831;
}

.title-container {
    z-index: 2;
    height: 60px;
    background-color: #ab2727;
    width: 100%;
    position: fixed;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    border-bottom: 2px solid #4f4e4e;
    box-shadow: 0 5px 10px 3px #414141;
}

h2 {
    font-size: 2em;
    color: #FEFEFE;
}

.library-container {
    margin-top: 50px;
    height: 100%;
    width: 80%;
    display: inline-flex;
}

#library {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 0 10px;
    text-align: center;
}

.book {
    height: 25%;
    max-height: 270px;
    width: 11%;
    min-width: 135px;
    padding: 0 0 15px 0;
    margin: 4px 8px;
    background-color: #696565;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

h3 {
    height: 3.5em;
    width: 100%;
    text-wrap: normal;
    font-size: 1.2em;
    word-spacing: 4px;
    color: #FEFEFE;
    margin: 10px 0;
}

hr {
    width: 90%;
    margin-top: 100px;
    border: 1px solid #FEFEFE;
}

h4  {
    width: 100%;
    margin: 5px 0;
    text-align: center;
    font-size: 1em;
    color: #FEFEFE;
}

p {
    font-size: 1em;
    margin: 2px 0;
    color: black;
    padding-bottom: 5px;
}

.switch-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 100%;
    color: #FEFEFE;
    text-align: center;
    line-height: 20px;
}

.switch {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.read {
    background-color: #26af08;
}

.not-read {
   background-color: #f10d0d;
}

.remove-book {
    width: 100%;
    height: 20px;
    margin-top: 2px;
    color: #FEFEFE;
    display: flex;
    justify-content: flex-end;
    overflow: visible;
}

.remove-book img {
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in;
}

.remove-book img:hover {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.side-bar {
    z-index: 1;
    height: 80%;
    width: 22%;
    margin-top: 60px;
    justify-self: center;
    align-self: flex-start;
    background-color: #222831FF;
}

.form-container {
    height: 52vh;
    width: 16vw;
    margin-top: 60px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3em;
    background-color: #373a3f;
    border-radius: 15px;
}

.add {
    height: 50px;
    width: 100%;
    border-radius: 15px 15px 0 0 ;
    background-color: #ab2727;
    text-align: center;
    line-height: 50px;
    font-family: Verdana, 'sans-serif';
    font-size: 1em;
    color: #FEFEFE;
}

#bookForm {
    height: 87%;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: column;
    color: #FEFEFE;
}

.form-element {
    width: 90%;
    height: 20%;
    margin-left: 5%;
    text-align: center;
    line-height: 1.3em;
}

.form-element input[type=text] {
    width: 100%;
    display: inline-block;
}

#bookForm button[type=submit] {
    width: 80%;
    height: 30px;
    align-self: center;
    border-radius: 5px;
    border: none;
    background-color: #ab2727;
    color: #FEFEFE;
    font-family: Verdana, 'sans-serif';
    font-size: 0.8em;
    letter-spacing: 1px;
}